---
title: Index Page
---
extends layouts/_layout
block content
  // partial example
  include ./home/intro
  include ./home/future
  include ./home/advantages
  include ./home/system
  include ./home/success
  include ./home/article
  