.future
  padding: 95px 0
  +r(767)
    padding: 50px 0
  &__text
    max-width: 480px
    +r(992)
      padding-bottom: 50px
    img
      height: 95px
      +r(767)
        height: 50px
    h3
      font-weight: bold
      font-size: 64px
      line-height: 1.3
      color: #050606
      margin-bottom: 50px
      +r(767)
        font-size: 36px !important
        margin-bottom: 30px
    p
      font-weight: 500
      font-size: 16px
      color: #8D8D8C
      margin-bottom: 15px
      line-height: 1.5
    a
      margin-top: 50px
      +r(767)
        margin-top: 30px
  &__video
    padding-top: 35px
    display: flex
    align-items: flex-start
    justify-content: flex-end
    position: relative
    +r(992)
      justify-content: center
    +r(767)
      padding-top: 70px
      justify-content: flex-end
    +r(575)
      padding-top: 200px
    &__text
      position: absolute
      z-index: 2
      top: 0px
      left: 0
      padding: 15px
      padding-bottom: 25px
      margin-left: -20px
      width: 315px
      margin-bottom: 30px
      background-image: url('../img/future/Union.png')
      background-size: contain
      background-repeat: no-repeat
      +r(575)
        left: 57%
        transform: translate(-50%)
        background-image: url('../img/future/Union-mobile.png')
        height: 190px
        width: 
        padding: 25px
        padding-top: 30px
        padding-left: 35px
      i
        font-style: italic
        font-weight: 500
        font-size: 16px
        line-height: 20px
        margin-bottom: 6px
        display: block
      a
        color: #53BF51
        font-size: 16px
        font-weight: 24px
        text-decoration: underline
        font-weight: bold
    &__img
      img
        width: 237px
        +r(575)
          width: 155px
    .play-video
      position: absolute
      left: 120px
      bottom: 100px
      +r(767)
        empty-cells: 220px
      +r(575)
        left: auto
        right: 180px
