.system
  padding: 100px 0 50px
  background: #F1FCF7
  background-image: url('../img/can.png')
  background-repeat: no-repeat
  background-size: 350px auto
  background-position: 40% 50%
  +r(992)
    background-position: 50% 80%
  +r(767)
    padding-top: 60px
    padding-bottom: 0
  +r(575)
    background-position: 50% 70%
  &__block
    +center-y
    padding-bottom: 60px
    b
      font-size: 36px
      display: flex
      align-items: center
      justify-content: center
      color: #000000
      font-weight: bold
      width: 65px
      height: 65px
      border-radius: 50%
      position: relative
      // box-shadow: 0px 5px 30px rgba(198, 207, 217, 0.3)
      background: #fff
      margin-right: 30px
      svg
        width: 100%
        height: 100%
        border-radius: 50%
        position: absolute
        top: 0
        left: 0
        box-shadow: 0px 5px 30px rgba(198, 207, 217, 0.3)
      span
        z-index: 4
    div
      flex: 1
    p
      color: #8D8D8C
      font-size: 16px
      font-weight: 500
      line-height: 1.5
      margin-top: 5px

  &__text
    h3
      font-weight: bold
      font-size: 64px
      line-height: 1.25
      margin-bottom: 50px
      +r(992)
        font-size: 36px
        margin-bottom: 30px
      span
        color: #53BF51
    p
      font-weight: 500
      font-size: 16px
      line-height: 1.5
      color: #8D8D8C
      margin-bottom: 50px
      +r(992)
        margin-bottom: 30px
      span
        color: #53BF51
    a
      +r(992)
        margin-bottom: 50px