.blocker
  z-index: 10
.close-modal
  display: none !important
.pop-up
  max-width: 1110px
  width: 100%
  padding: 0
  padding-bottom: 10px
  overflow: hidden
  border-radius: 8px
  &__close
    width: 30px
    height: 30px
    position: absolute
    right: 30px
    top: 30px
    z-index: 10
    span
      &:before, &:after
        content: ''
        width: 26px
        height: 3px
        background: #000
        position: absolute
        top: 13px
      &:before
        left: 2px
        transform: rotate(45deg)
      &:after
        right: 2px
        transform: rotate(-45deg)
  &__content
    padding: 30px 95px
    +r(767)
      padding: 30px 15px
  &__title
    margin-bottom: 70px
    +r(767)
      margin-bottom: 40px
    h3
      font-weight: bold
      font-size: 36px
      line-height: 44px
      color: #050606
      padding-right: 50px
      +r(767)
        font-size: 28px
      span
        color: #53BF51
  


  &-join
    .future__join
      background: #FFFFFF
      border-radius: 16px
      display: flex
      overflow: hidden
      +r(992)
        flex-direction: column
        top: -30px
      span
        color: #53BF51
      &__text
        padding: 65px
        width: 100%
        flex: 1 1 0
        position: relative
        z-index: 2
        background: #fff
        +r(992)
          padding: 30px 20px
          flex: none
        h3
          font-weight: bold
          font-size: 36px
          color: #050606
          padding-bottom: 40px
          +r(992)
            text-align: center
            font-size: 24px
            padding-bottom: 25px
        p
          font-size: 24px
          color: #050606
          font-weight: normal
          line-height: 1.4
          +r(992)
            text-align: center
          span
            font-weight: bold
            font-size: 30px
      &__form
        width: 100%
        flex: 1 1 0
        padding: 30px 85px 30px 45px
        position: relative
        z-index: 1
        &::after
          content: ''
          width: 100%
          height: 1px
          border: 1px solid #F6F7F9
          position: absolute
          left: 0
          top: 90px
          +r(430)
            top: 100px
        &::before
          content: ''
          background-image: url('../img/future/future-decor.png')
          width: 55px
          height: 100%
          background-size: auto 100%
          display: inline-block
          position: absolute
          left: -35px
          top: 0
          z-index: 1
          background-repeat: no-repeat
          +r(992)
            background-image: url('../img/future/future-decor-1.png')
            background-size: 100% auto
            left: 0
            width: 100%
            height: 55px
            top: -20px
          +r(767)
            top: -10px
        +r(992)
          padding: 30px 20px
          flex: none
        h3
          font-weight: normal
          font-size: 23px
          padding-bottom: 50px
          text-transform: none
          span
            font-weight: bold

          +r(992)
            text-align: center
            padding-bottom: 35px
        input
          background: #F6F7F9
          border-radius: 40px
          font-weight: 500
          width: calc(100% + 10px)
          margin-left: -5px
          height: 50px
          margin-bottom: 20px
          +center
          padding: 0 20px
          font-size: 16px
          color: #050606
        &__btn
          display: flex
          justify-content: flex-end
          align-items: center
          +r(767)
            flex-direction: column-reverse
            padding-top: 20px
          a
            margin-right: 60px
            color: #8D8D8C
            +r(767)
              margin-right: 0
              padding-top: 23px
            &:hover
              text-decoration: underline
          button
            margin-right: -5px
            +r(500)
              width: 100%



  &-about
    p
      font-weight: 500
      font-size: 16px
      line-height: 24px
      color: #050606
      margin-bottom: 20px

  &-development
    .pop-up__content
      padding: 20px 65px
      +r(767)
        padding: 20px 15px
    &__img
      height: 100%
      +center
      max-height: 60vh
      height: 100vh
      padding-bottom: 10%
      img
        width: 65px
        +r(767)
          width: 50px
      p
        margin-left: 30px
        font-size: 36px
        line-height: 44px
        color: #53BF51
        +r(767)
          font-size: 24px
          margin-left: 15px
          text-align: center



  &-article
    .pop-up__close
      span:before, span:after
        background: #fff
    &__img
      height: 300px
      overflow: hidden
      +r(767)
        height: 250px
      img
        +object-fit(cover)
        width: 100%
        height: 100%
    strong
      font-weight: bold
      font-size: 16px
      line-height: 24px
      color: #050606
      margin-bottom: 40px
      display: block
    span
      font-weight: bold
      font-size: 16px
      line-height: 24px
      color: #53BF51
    p
      font-weight: 500
      font-size: 16px
      line-height: 24px
      color: #050606
      margin-bottom: 20px