section.advantages
  .advantages__title
    .container
      .row
        .col-lg-5.offset-lg-7(data-aos="fade-up" data-aos-offset="200" data-aos-duration="1000")
          h2
            span Neo
            | Team
          p Our younger generation is highly creative and all they must be given is ample support and opportunities. We must promote "NeoReTech" creation, the idea of using the waste to make something novel and save resources. 
          //a(href="#pop-up-join" rel="modal:open").button-green 
            span About NeoTeam
  .advantages__content
    .container
      .row
        .col-xl-8
          .advantages__world
            .advantages__world__quote
              i We are the environment!
                +icon('quote')
              p Charles Panati
            .advantages__world__img(data-aos="zoom-out" data-aos-duration="1500")
              img(src="img/advantages/world.png", alt="")
              span

            ul.advantages__world__list
              li(data-aos="zoom-in-up" data-aos-offset="200") Supported by church
              li(data-aos="zoom-in-up") Environmentally friendly materials
              li(data-aos="zoom-in-up") Recycle 100% <br>of all waste
              li(data-aos="zoom-in-up") Removing heavy metals
              li(data-aos="zoom-in-up") Prominent scientists
              li(data-aos="zoom-in-up") Lab tested technology
        .col-xl-4
          .advantages__info
            img(src="img/advantages/disposal.png", alt="")
            strong Our goal:
            p Our main passion is to create a non-waste production that will preserve the important raw materials that are mined from the earth and protect the natural habitat in the future.