section.article
  .container
    h2 Articles
    .swiper-container.swiper-article
      .swiper-wrapper
        .swiper-slide
          .article__slide
            .article__slide__img
              img(src="img/article/article-img-1.jpg", alt="")
            .article__slide__text
              h3 7 horrible facts about global pollution 
              p It is the deadliest form of pollution, killing millions of people each year, according to a new study and cost...
              div
                span April 06, 2020
                a(href="#") More
                  +icon('arrow-right')
        .swiper-slide
          .article__slide
            .article__slide__img
              img(src="img/article/article-img-2.jpg", alt="")
            .article__slide__text
              h3 7 horrible facts about global pollution 
              p It is the deadliest form of pollution, killing millions of people each year, according to a new study and cost...
              div
                span April 06, 2020
                a(href="#") More
                  +icon('arrow-right')
        .swiper-slide
          .article__slide
            .article__slide__img
              img(src="img/article/article-img-1.jpg", alt="")
            .article__slide__text
              h3 7 horrible facts about global pollution 
              p It is the deadliest form of pollution, killing millions of people each year, according to a new study and cost...
              div
                span April 06, 2020
                a(href="#") More
                  +icon('arrow-right')
        .swiper-slide
          .article__slide
            .article__slide__img
              img(src="img/article/article-img-1.jpg", alt="")
            .article__slide__text
              h3 7 horrible facts about global pollution 
              p It is the deadliest form of pollution, killing millions of people each year, according to a new study and cost...
              div
                span April 06, 2020
                a(href="#") More
                  +icon('arrow-right')
        .swiper-slide
          .article__slide
            .article__slide__img
              img(src="img/article/article-img-2.jpg", alt="")
            .article__slide__text
              h3 7 horrible facts about global pollution 
              p It is the deadliest form of pollution, killing millions of people each year, according to a new study and cost...
              div
                span April 06, 2020
                a(href="#") More
                  +icon('arrow-right')
        .swiper-slide
          .article__slide
            .article__slide__img
              img(src="img/article/article-img-1.jpg", alt="")
            .article__slide__text
              h3 7 horrible facts about global pollution 
              p It is the deadliest form of pollution, killing millions of people each year, according to a new study and cost...
              div
                span April 06, 2020
                a(href="#") More
                  +icon('arrow-right')
      .swiper-pagination.swiper-pagination-article