section.future
  .container
    .row
      .col-lg-6.col-12
        .future__text
          img(src="img/logo_neoretech.svg", alt="") 
          h3 our future
          p Pollution is one of the biggest global killers, affecting over 100 million people. 
          p Today there is greater need that we must promote better and efficient recycled of resources. 
          p Environmental love and care must receive an all time attention and priority. Let’s go beyond the model building exercises for safer environment and turn them into reality. 
          a(href="#pop-up-about" rel="modal:open").button-green 
            span What is NeoRetech
      .col-lg-6.col-12
        .future__video
          .future__video__text
            i Learning to be more environ- mentally friendly is not that difficult task than we think.
            i Start now!
            a(href="#pop-up-video" rel="modal:open") Watch Recycle video
          .future__video__img
            img(src="img/future/girl.png", alt="")
          a(href="#pop-up-video" rel="modal:open").play-video
            i.icon-play
              span
              span
              span
              span
            b Click play