section.future
  .container
    .future__join
      .future__join__text
        h3 Join 
          span #NeoReTech
        p We recycled <br>
          span 1 000 012 549 
          | kg<br> and you can cooperate with us:
        h4
          span 1$ 
          | recycles = 
          span 1 lb 
          | of trash
      form.future__join__form.form
        .row
          .col-lg-3.col-4
            input(type="radio" name="join" id="join-1")
            label(for="join-1") $1
          .col-lg-3.col-4
            input(type="radio" name="join" id="join-2")
            label(for="join-2") $5
          .col-lg-3.col-4
            input(type="radio" name="join" id="join-3")
            label(for="join-3") $10
          .col-lg-3.col-4
            input(type="radio" name="join" id="join-4")
            label(for="join-4") $20
          .col-lg-3.col-4
            input(type="radio" name="join" id="join-5" checked)
            label(for="join-5") $50
          .col-lg-3.col-4
            input(type="radio" name="join" id="join-6")
            label(for="join-6") $100
          .col-lg-6
            input(type="text" placeholder="Other amount")
          .col-lg-12
            input(type="text" placeholder="Name")
          .col-12
            .future__join__form__btn
              p You have questions? Visit the 
                a(href="#") FAQ 
                | section
              button.button-green 
                span Recycle
    .future__content
      .row
        .col-lg-6.col-12
          .future__text
            img(src="img/logo_neoretech.svg", alt="") 
            h3 our future
            p Pollution is one of the biggest global killers, affecting over 100 million people. 
            p Today there is greater need that we must promote better and efficient recycled of resources. 
            p Environmental love and care must receive an all time attention and priority. Let’s go beyond the model building exercises for safer environment and turn them into reality. 
            a(href="#pop-up-about" rel="modal:open").button-green 
              span What is NeoRetech
        .col-lg-6.col-12
          .future__video
            .future__video__text
              i Learning to be more environ- mentally friendly is not that difficult task than we think.
              i Start now!
              a(href="#pop-up-video" rel="modal:open") Watch Recycle video
            .future__video__img
              img(src="img/future/girl.png", alt="")
            a(href="#pop-up-video" rel="modal:open").play-video
              i.icon-play
                span
                span
                span
                span
              b Click play