section.intro
  .container
    .row
      .col-lg-7
        .intro__text
          h1 Together we can save the world
          p The more we share an awareness on the richness of the environment, the more we can protect it
          div
            a(href="#").button-green Participate
            a(href="#")
              i.icon-play
              | Why is it important?
      .col-lg-5
        .intro__parallax
          div#basket(data-scalar-y="9")
            img(src="img/intro/basket.png", alt="" data-depth="0.2")
          div#foliage(data-scalar-y="9" data-invert-x="false" data-invert-y="false")
            img(src="img/intro/foliage.png", alt="" data-depth="0.3")
          div#overcast(data-scalar-x="15")
            img(src="img/intro/overcast-bg.png", alt="" data-depth="0.5")