section.intro
  .container
    .row
      .col-lg-7
        .intro__text
          h1 Together we can save the world
          p The more we share an awareness on the richness of the environment, the more we can protect it
          a(href="#pop-up-video" rel="modal:open")
            i.icon-play
            | Why is it important?
        .intro__num
          strong First goal - Вuilding recucle Factory 
          span
            span $
            | 180 000 000
    .intro__pastor
      img(src="img/intro/pastor.png", alt="")
      .intro__pastor__info
        p Collection progress:
        span 
          | $
          span 0