section.success
  .container
    .row
      .col-lg-7.col-xl-6
        h2 They 
          span did it! 
        h3 And You can become one of us!
        .success__tab.tabs
          ul.tabs__caption
            li.active Most recent
              span LIVE
            li Top donations
          .tabs__content.active
            table.tabs__table
              tr
                td Anonymous
                td
                  b 20 kg
                  .tabs__table__date
                    span 08.04.2020
                    span 18:51
              tr
                td Anonymous
                td
                  b 20 kg
                  .tabs__table__date
                    span 08.04.2020
                    span 18:51
              tr
                td Benedict Cumberbatch
                td
                  b 200 kg
                  .tabs__table__date
                    span 08.04.2020
                    span 18:51
              tr
                td Anonymous
                td
                  b 20 kg
                  .tabs__table__date
                    span 08.04.2020
                    span 18:51
              tr
                td Anonymous
                td
                  b 20 kg
                  .tabs__table__date
                    span 08.04.2020
                    span 18:51
              tr
                td Anonymous
                td
                  b 20 kg
                  .tabs__table__date
                    span 08.04.2020
                    span 18:51
              tr
                td Benedict Cumberbatch
                td
                  b 100 kg
                  .tabs__table__date
                    span 08.04.2020
                    span 18:51
              tr
                td Anonymous
                td
                  b 20 kg
                  .tabs__table__date
                    span 08.04.2020
                    span 18:51
              tr
                td Anonymous
                td
                  b 20 kg
                  .tabs__table__date
                    span 08.04.2020
                    span 18:51
              tr
                td Anonymous
                td
                  b 20 kg
                  .tabs__table__date
                    span 08.04.2020
                    span 18:51
              tr
                td Benedict Cumberbatch
                td
                  b 100 kg
                  .tabs__table__date
                    span 08.04.2020
                    span 18:51
              tr
                td Anonymous
                td
                  b 20 kg
                  .tabs__table__date
                    span 08.04.2020
                    span 18:51
              tr
                td Anonymous
                td
                  b 20 kg
                  .tabs__table__date
                    span 08.04.2020
                    span 18:51
          .tabs__content
            table.tabs__table
              tr
                td Anonymous 1
                td
                  b 20 kg
                  .tabs__table__date
                    span 08.04.2020
                    span 18:51
              tr 
                td Anonymous 1
                td
                  b 20 kg
                  .tabs__table__date
                    span 08.04.2020
                    span 18:51

          a(href="#").success__more More
            i.fa.fa-angle-down
      .col-lg-5.col-xl-6
        .success__icon
          img(src="img/success/icon.png", alt="")
          p
            span Under the auspices of the <br>Saint Barbara Russian Orthodox Church
            a(href="#") Detail
              +icon('arrow-right2')
        form.success__form.form
          h4
            span 1$ 
            | recycles = 
            span 1 kg 
            | of trash
          .success__form__content
            .row
              .col-4
                input(type="radio" name="success" id="success-1")
                label(for="success-1") 1$
              .col-4
                input(type="radio" name="success" id="success-2")
                label(for="success-2") 5$
              .col-4
                input(type="radio" name="success" id="success-3")
                label(for="success-3") 10$
              .col-4
                input(type="radio" name="success" id="success-4")
                label(for="success-4") 20$
              .col-4
                input(type="radio" name="success" id="success-5" checked)
                label(for="success-5") 50$
              .col-4
                input(type="radio" name="success" id="success-6")
                label(for="success-6") 100$
              .col-12
                .form__block
                  input(type="text" placeholder="Other amount")
              .col-12
                button.button-green 
                  span Recycle
              .col-12
                a(href="#") FAQ