section.system
  .container
    .row
      .col-lg-6.col-xl-5.order-last.order-lg-first
        .system__block
          b#circle-1
            span 1
          div
            h4 Accepts MSW for recycling
            p We charge about 60-75% of MSW for processing, which most do not use.
        .system__block
          b#circle-2
            span 2
          div
            h4 Separation of plastic
            p In the process of pyrolysis, synthetic eco-friendly oil will be made from plastic and carpet.
        .system__block
          b#circle-3
            span 3
          div
            h4 Shredding 
            p All other waste goes into a 3-stage shredder. Also, the main product is separated from metals
        .system__block
          b#circle-4
            span 4
          div
            h4 Interfusion
            p The crushed mass enters the mixer, where it is mixed with industrial water to a state of liquid mass.
        .system__block
          b#circle-5
            span 5
          div
            h4 Organic Fertilizer Production
            p Within 10-12 days, the whole mass becomes environmentally friendly, excellent organic fertilizer!
      .col-lg-6.col-xl-5.offset-xl-2
        .system__text
          h3 
            span Technology 
            | that will change recycling
          p Unlike many various technologies built for the processing of certain specific types of municipal solid waste, our technology is aimed at 
            span 100% processing of solid waste 
            | into useful and necessary types of raw materials - synthetic oil, as well as the production of finished products needed in the national economy.
          a(href="#pop-up-development" rel="modal:open").button-green 
            span Аbout Technology

